<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form Website</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="topnav">
      <h1><%= user %></h1>
  <div class="topnav-right">
    <a href="/userHome/<%= user %>">Home</a>
    <a href="/logout">Logout</a>
  </div>
</div>
