<%- include partials/header.ejs -%>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

<h1>Trending forms:</h1>
<ul>


<%docs.forEach(function(e){%>

   <li><%=e.formTitle%> by <%=e.username%></li>



<%});%>

</ul>
<button type="button" onclick="window.location.href='/login'"name="button">Login To fill!</button>

<div class="loginBtn loginBtn--facebook" data-href="https://localhost:3000" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
<%- include partials/footer.ejs -%>
